@font-face {
    font-family: "ClementePDaa-Hairline";
    src: url("../fonts/ClementePDaa-Hairline.eot");
    src: local("☺"), url("../fonts/ClementePDaa-Hairline.woff") format("woff"), url("../ClementePDaa-Hairline.ttf") format("truetype"), url("../ClementePDaa-Hairline.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

aside, article, section, header, footer, nav {
    display: block;
}

html {
    background: rgba(208,236,224,1);
    background: -moz-linear-gradient(left, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(208,236,224,1)), color-stop(100%, rgba(136,184,181,1)));
    background: -webkit-linear-gradient(left, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    background: -o-linear-gradient(left, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    background: -ms-linear-gradient(left, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    background: linear-gradient(to right, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0ece0', endColorstr='#88b8b5', GradientType=1 );
}

body {
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    height: 100%;
}

header, footer {
    width: 100%;
}

header {
    height: 125px;
    background: #87afb5;
    border-bottom: solid #728889 1px;
}

header:after {
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 89px;
    display: block;
    position: absolute;
    z-index: -10;
    -webkit-box-shadow: 0px 0px 12px 4px #000000;
    -moz-box-shadow: 0px 0px 12px 4px #000000;
    box-shadow: 0px 0px 12px 4px #000000;
}

header div, footer div {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
}

header div {
    font-family: "ClementePDaa-Hairline";
    color: #ffffff;
}

header div img {
    width: 30px;
    height: 52px;
    margin-top: 35px;
}

header div p {
    font-size: 60px;
    margin-top: -60px;
    margin-left: 45px;
}
footer.normalFooter {
    margin: -5px auto 0 auto;
    padding: 5px 0;
    width: 800px;
    height: 20px;
    background: #edfafd;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.25);
}

footer.loginFooter {
    position: absolute;
    bottom: 1%;
}

section.loginSection {
    position: absolute;
    top: 30%;
    width: 100%;
}

.loginSection form {
    width: 280px;
    margin: 0 auto;
    padding: 15px;
}

.loginSection fieldset {
    border-radius: 10px;
    background: #87afb5;
    border: solid #728889 1px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.4);
    -moz-box-shadow:    0px 0px 15px 0px rgba(255, 255, 255, 0.4);
    box-shadow:         0px 0px 15px 0px rgba(255, 255, 255, 0.4);
}

.loginSection fieldset legend {
    padding: 10px;
    border-radius: 6px;
    background: #ffffff;
    border: solid #728889 1px;
}

.loginSection form div {
    padding: 5px 0;
}

.loginSection .button,
.loginSection input[type = "text"],
.loginSection input[type = "password"] {
    margin-top: 5px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: white;
    font-family: inherit;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 15px;
    padding: 10px 5px;
    height: 40px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loginSection .button {
    background: #aebfbc; /* Old browsers */
    background: -moz-linear-gradient(top,  #aebfbc 28%, #8ea6a2 71%, #829d98 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,#aebfbc), color-stop(71%,#8ea6a2), color-stop(98%,#829d98)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* IE10+ */
    background: linear-gradient(to bottom,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebfbc', endColorstr='#829d98',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    font-weight: bold;
    border: solid #728889 1px;
}

.loginSection form p {
    margin: 5px 0;
    font-size: 10px;
}

.loginSection form p a {
    font-style: normal;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearFix:before,
.clearFix:after {
    content: '';
    display: table;
}
.clearFix:after {
    clear: both;
}

.message {
    width: 400px;
    background: #9b585f;
    border: 1px solid #8D0D19;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
    color: #ffe2d6;
}

.message img {
    float: left;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.message p:first-child {
    font-size: 20px;
    margin: 5px;
    line-height: 25px;
    vertical-align: middle;
}

.message p {
    margin: 10px 10px 10px 40px;
    font-size: 14px;
}

.message ul {
    list-style: disc;
    margin: 10px 10px 10px 60px;
    font-size: 14px;
}

.message li {
    margin: 10px 0;
}

nav {
    width: 100%;
    height: 45px;
    background: #d6eff9;
    border-bottom: solid #728889 1px;
}

nav img {
    width: 25px;
    height: 25px;
    margin: 5px 8px;
    vertical-align: middle;
}
nav div {
    float: right;
    margin: 5px 10px;
}
nav div:first-child {
    float: left;
    margin-left: 5px;
}

section.sectionContainer {
    min-height: 100%;
    width: 800px;
    margin: 0px auto 0 auto;
    padding-top: 5px;
    background: #edfafd;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.25);

}

.freezerBox {
    float: left;
    width: 365px;
    height: 170px;
    background: #8ea0a4;
    border-radius: 10px;
    margin: 10px 0 0 10px;
    padding: 10px;
    color: white;
}
.freezerBox a {
    color: white;
    text-decoration: none;
}
.freezerBox a:hover {
    color: #e1e1e1;
    text-decoration: none;
}
.freezerHeader {
    float: left;
    width: 365px;
    font-size: 30px;
    border-bottom: 1px solid #f5f5f5;
}

.fTitle {
    float: left;
    width: 280px;
    padding: 10px 5px 5px 10px;
}
.editBtn, .deleteBtn {
    float: right;
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer;

}
.editBtn img, .deleteBtn img {
    margin-top: 5px;
    height: 30px;
    width: 25px;
}

.fMainData {
    float: left;
    width: 100%;
    padding-top: 20px;
}
.fIcon {
    float: left;
    padding: 0 10px 20px 10px;
}
.fIcon img {
    width: 35px;
    height: 75px;
}
.fMake, .fLocation, .fDescription, .fComment {
    float: right;
    width: 300px;
    padding: 0 5px 5px 5px;
    font-size: 12px;
    line-height: 15px;
}
.sectionContainerFreezerDetail {
    min-height: 100%;
    width: 800px;
    margin: 0px auto 0 auto;
    padding-top: 20px;
    background: #edfafd;

    -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.25);
}

.shadowOnly {
    position: absolute;
    top: 164px;
    height: 7px;
    width: 100%;
    background: #d6eff9;
    border-bottom: solid #728889 1px;
    -webkit-box-shadow: 0 3px 2px -2px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 3px 2px -2px rgba(50, 50, 50, 0.25);
    box-shadow: 0 3px 2px -2px rgba(50, 50, 50, 0.25);
}

.freezerName {
    font-size: 40px;
    padding-left: 20px;
    margin: 0 20px;
    border-bottom: 1px solid #000000;
}

.freezerDescription, .freezerMake, .freezerLocation {
    font-size: 14px;
    padding: 5px 20px;
    margin: 10px 20px 0 20px;
}
.freezerDescription {
    padding-top: 30px;
}

.drawers {
    margin: 20px;
    width: 730px;
    padding: 15px;
    border-radius: 10px;
    background: #b2c8cd;
}
.drawer {
    width: 710px;
    padding: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    margin-bottom: 15px;
}
.drawer:last-child {
    margin-bottom: 0;
}

.row, .emptyDrawer {
    padding: 10px 0;
    font-size: 12px;
    border-bottom: 1px solid #000000;
}
.drawerNameRow {
    padding: 5px 0;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}
.drawerName {
    width: 625px;
}
.moreDrawerInfoBtn {
    width: 25px;
}
.editDrawerBtn {
    width: 30px;
    cursor: pointer;
}
.deleteDrawerBtn {
    width: 30px;
    cursor: pointer;
}
.columnNames {
    font-size: 14px;
    color: white;
    background: #92a9ae;
}
.contentDescr {
    width: 370px;
    padding-left: 10px;
}
.amount {
    width: 110px;
    text-align: center;
}
.quantity {
    width: 110px;
    text-align: center;
}
.date {
    width: 110px;
    text-align: center;
}

.emptyDrawer {
    padding-left: 10px;
}

.modifyFreezer form  {
    width: 600px;
    margin: 0 auto;
    padding: 15px;
}

.formError {
    color: darkred;
    font-style: italic;
    font-weight: bolder;
}

.modifyFreezer form div {
    padding: 5px 0;
}

.modifyFreezer .button,
.modifyFreezer input[type = "text"],
.modifyFreezer input[type = "password"] {
    margin-top: 5px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: white;
    font-family: inherit;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 15px;
    padding: 10px 5px;
    height: 40px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modifyFreezer .button {
    width: 100px;
    margin-left: 10px;
    background: #aebfbc; /* Old browsers */
    background: -moz-linear-gradient(top,  #aebfbc 28%, #8ea6a2 71%, #829d98 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,#aebfbc), color-stop(71%,#8ea6a2), color-stop(98%,#829d98)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* IE10+ */
    background: linear-gradient(to bottom,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebfbc', endColorstr='#829d98',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    font-weight: bold;
    border: solid #728889 1px;
}
.modifyFreezer .button.pushBtn {
    margin-left: 195px;
}
.modifyFreezer form p.title {
    margin: 15px 0;
    font-size: 20px;
}


#addEditDrawer {
    margin: 10px;
}

#addEditDrawer .button,
#addEditDrawer input[type = "number"],
#addEditDrawer input[type = "date"],
#addEditDrawer input[type = "text"],
#addEditDrawer input[type = "password"] {
    margin-top: 5px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    font-size: 15px;
    padding: 10px 5px;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#addEditDrawer .button {
    width: 60px;
    margin-left: 10px;
    background: #aebfbc; /* Old browsers */
    background: -moz-linear-gradient(top,  #aebfbc 28%, #8ea6a2 71%, #829d98 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,#aebfbc), color-stop(71%,#8ea6a2), color-stop(98%,#829d98)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* IE10+ */
    background: linear-gradient(to bottom,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebfbc', endColorstr='#829d98',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    font-weight: bold;
    border: solid #728889 1px;
}

#addEditDrawer .addNewContentLine .button {
    width: 200px;
}

#submitOrCancel .button {
    width: 100px;
}
#submitOrCancel .button.pushBtn {
    margin-left: 385px;
}


.drawerDetails p.title {
    margin: 15px 0;
    font-size: 20px;
}

#drawerContent .contentHeading {
    margin: 5px 0;
    font-size: 15px;
}

.pushAmount {
    margin-left: 260px;
}
.pushQuantity {
    margin-left: 195px;
}
.pushDate {
    margin-left: 25px;
}

#addEditDrawer .emptyDrawer {
    margin-top: 20px;
    display: block;
    width: 700px;
    padding: 10px 0;
    font-size: 15px;
    font-style: italic;
    border-bottom: none;
}

#noFreezersYet {
    margin: 20px;
    background: #b2c8cd;
    border-radius: 5px;
    padding: 15px;
}
