@font-face {
    font-family: "ClementePDaa-Hairline";
    src: url("../fonts/ClementePDaa-Hairline.eot");
    src: local("☺"), url("../fonts/ClementePDaa-Hairline.woff") format("woff"), url("../ClementePDaa-Hairline.ttf") format("truetype"), url("../ClementePDaa-Hairline.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

aside, article, section, header, footer, nav {
    display: block;
}

html {
    /*background: #b8ded7;*/
    background: rgba(208,236,224,1);
    background: -moz-linear-gradient(-45deg, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(208,236,224,1)), color-stop(100%, rgba(136,184,181,1)));
    background: -webkit-linear-gradient(-45deg, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    background: linear-gradient(135deg, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0ece0', endColorstr='#88b8b5', GradientType=1 );

    background: rgba(208,236,224,1);
    background: -moz-linear-gradient(left, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(208,236,224,1)), color-stop(100%, rgba(136,184,181,1)));
    background: -webkit-linear-gradient(left, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    background: -o-linear-gradient(left, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    background: -ms-linear-gradient(left, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    background: linear-gradient(to right, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0ece0', endColorstr='#88b8b5', GradientType=1 );
}

body {
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;

    /*background: rgba(208,236,224,1);*/
    /*background: -moz-linear-gradient(top, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(208,236,224,1)), color-stop(100%, rgba(136,184,181,1)));*/
    /*background: -webkit-linear-gradient(top, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);*/
    /*background: -o-linear-gradient(top, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(208,236,224,1) 0%, rgba(136,184,181,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0ece0', endColorstr='#88b8b5', GradientType=0 );*/

    /*background: rgba(164,179,87,1);*/
    /*background: -moz-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);*/
    /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));*/
    /*background: -webkit-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);*/
    /*background: -o-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);*/
    /*background: -ms-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);*/
    /*background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );*/

}

header, footer {
    width: 100%;
}

header {
    height: 125px;
    background: #87afb5;
    border-bottom: solid #728889 1px;
}

header:after {
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 89px;
    display: block;
    position: absolute;
    z-index: -10;
    -webkit-box-shadow: 0px 0px 12px 4px #000000;
    -moz-box-shadow: 0px 0px 12px 4px #000000;
    box-shadow: 0px 0px 12px 4px #000000;
}

header div, footer div {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
}

header div {
    font-family: "ClementePDaa-Hairline";
    color: #ffffff;
}

header div img {
    width: 30px;
    height: 52px;
    margin-top: 35px;
}

header div p {
    font-size: 60px;
    margin-top: -60px;
    margin-left: 45px;
}
footer {
    position: absolute;
    bottom: 1%;
}

.loginSection {
    position: absolute;
    top: 30%;
    width: 100%;
}

form {
    width: 280px;
    margin: 0 auto;
    padding: 15px;
}

fieldset {
    border-radius: 10px;
    background: #87afb5;
    border: solid #728889 1px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.4);
    -moz-box-shadow:    0px 0px 15px 0px rgba(255, 255, 255, 0.4);
    box-shadow:         0px 0px 15px 0px rgba(255, 255, 255, 0.4);
}

fieldset legend {
    padding: 10px;
    border-radius: 6px;
    background: #ffffff;
    border: solid #728889 1px;
}

form div {
    padding: 5px 0;
}

.button,
input[type = "text"],
input[type = "password"] {
    margin-top: 5px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: white;
    font-family: inherit;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 15px;
    padding: 10px 5px;
    height: 40px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button {
    background: #aebfbc; /* Old browsers */
    background: -moz-linear-gradient(top,  #aebfbc 28%, #8ea6a2 71%, #829d98 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,#aebfbc), color-stop(71%,#8ea6a2), color-stop(98%,#829d98)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* IE10+ */
    background: linear-gradient(to bottom,  #aebfbc 28%,#8ea6a2 71%,#829d98 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebfbc', endColorstr='#829d98',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    font-weight: bold;
    border: solid #728889 1px;
}

form p {
    margin: 5px 0;
    font-size: 10px;
}

form p a {
    font-style: normal;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.message {
    width: 400px;
    background: #9b585f;
    border: 1px solid #8D0D19;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
    color: #ffe2d6;
}

.message img {
    float: left;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.message p:first-child {
    font-size: 20px;
    margin: 5px;
    line-height: 25px;
    vertical-align: middle;
}

.message p {
    margin: 10px 10px 10px 40px;
    font-size: 14px;
}

.message ul {
    list-style: disc;
    margin: 10px 10px 10px 60px;
    font-size: 14px;
}

.message li {
    margin: 10px 0;
}

/*.registrationForm {*/
/*display: block;*/
/*}*/

/*.registrationFormHidden {*/
/*display: none;*/
/*}*/

/*.activationInfo {*/
/*display: block;*/
/*}*/

/*.activationInfoHidden {*/
/*display: none;*/
/*}*/

/*body {*/
/*font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;*/
/*font-size:12px;*/
/*}*/

/*.success {*/
/*border: 1px solid;*/
/*margin: 0 auto;*/
/*padding:10px 5px 10px 60px;*/
/*width:450px;*/
/*color: #4F8A10;*/
/*background: #DFF2BF;*/
/*}*/

/*.errormsgbox {*/
/*border: 1px solid;*/
/*margin: 0 auto;*/
/*padding:10px 5px 10px 60px;*/
/*width:450px;*/
/*color: #D8000C;*/
/*}*/

/*.infoBox {*/
/*background: #aec4de;*/
/*border: 1px solid #000000;*/
/*margin: 15px;*/
/*}*/

/*#addNewFreezerBtn {*/
/*background: #DFF2BF;*/
/*border: 1px solid #000000;*/
/*}*/

/*.freezerBox {*/
/*width: 250px;*/
/*background: #e0e0e0;*/
/*border: 1px solid #000000;*/
/*border-radius: 10px;*/
/*margin: 15px;*/
/*padding: 5px;*/
/*float: left;*/
/*}*/

/*.fakeForm {*/
/*float: right;*/
/*}*/

/*.freezerData {*/
/*clear: both;*/
/*background: #e0e0e0;*/
/*border: 1px solid #000000;*/
/*border-radius: 10px;*/

/*}*/

/*.modifyBox {*/
/*float: right;*/
/*}*/

/*.message {*/
/*background: #dc8b92;*/
/*border: 1px solid #8D0D19;*/
/*border-radius: 10px;*/
/*margin: 15px;*/
/*padding: 10px;*/
/*}*/

/*.testCssClass {*/
/*background: #CCC;*/
/*border: 1px solid #000000;*/
/*border-radius: 10px;*/
/*width: 300px;*/
/*margin: auto;*/
/*padding: 10px;*/
/*float: left;*/
/*}*/

/*table {*/
/*width: 400px;*/
/*border: 1px solid black;*/
/*background: #e0e0e0;*/
/*padding: 5px;*/
/*}*/

/*.drawer {*/
/*width: 400px;*/
/*float: left;*/
/*}*/

/*.hiddenElement {*/
/*display: none;*/
/*}*/

/*.showElement {*/
/*display: block;*/
/*}*/










/*#hyperlink-style-button{*/
/*background:none;*/
/*border:0;*/
/*color:#666;*/
/*text-decoration:underline;*/
/*}*/

/*#hyperlink-style-button:hover{*/
/*background:none;*/
/*border:0;*/
/*color:#666;*/
/*text-decoration:none;*/
/*cursor:pointer;*/
/*cursor:hand;*/
/*}*/